In [1]:
# Data Wrangling Workshop Chapter 8 Activity Program
# DSC 540
# Weeks 11 and 12
# Data Preparation Assignment Weeks 11 and 12
# David Berberena
# 6/1/2024

# Program Start

## Activity 8.01

In [2]:
# Prior to the activity questions, the guidelines state that we need to access the petsdb database in SQL, which means that 
# I need to import the sqlite3 library to perform SQL commands within Python.

import sqlite3

# To access the petsdb database, I can use sqlite3's connect() function while naming the database as the argument. However, 
# the activity instructions say that I need to verify the connection to the database, so I will encase this connect() 
# function within a try-except block of code and run the verification of the database connection as a function, with the 
# function performing a SELECT SQL command using the cursor() and execute() functions of sqlite3.

def sql_verify():
    try:
        pet_database = sqlite3.connect('petsdb')
        pet_cursor = pet_database.cursor()
        pet_cursor.execute('SELECT 1')
        pet_database.close()
        return True
    except sqlite3.Error as error:
        print(f'Something went wrong. {error}')
        return False

# The if-else statement here prints the resulting statement should the verification function prove to be successful or not.
    
if sql_verify():
    print('You have successfully connected to the petsdb database!')
else:
    print('There was a problem connecting to the petsdb database.')

You have successfully connected to the petsdb database!

In [3]:
# 1. What is the count of people belonging to different age groups in the persons table?

# As there are an unspecified number of age groups, yet there are more than 1, I have decided to create another function 
# that iterates through the persons table within the petsdb database in SQL. The function selects all rows in the table, 
# gleans the age of each person within the persons table, groups those people by the ages that were just identified, and 
# counts the number of people in each age group. The fetchall() function allows me to store the results into a Python 
# variable that I can then use a for loop on to extract the count of people and their respective age groups.

def people_ages():
    pet_database = sqlite3.connect('petsdb')
    pet_cursor = pet_database.cursor()
    pet_cursor.execute('SELECT count(*), age FROM persons GROUP BY age')
    age_groups = pet_cursor.fetchall()
    for num_persons, age in age_groups:
            print(f'We have {num_persons} people aged {age}')
    pet_database.close()
            
# The function is called to display the number of people in each age group.
            
people_ages()

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

In [4]:
# 2. Which age group has the maximum number of people?

# Since this table is small, I can easily look to see that 73 is the age group with the most number (5 to be exact) of 
# people in it. However, if this were a large table, I would not be able to discern this answer so quickly. So I will 
# automate the process of finding this answer by crafting another function to output only the age group with the highest 
# number of individuals in that group. Here in the SQL query line of code I have added the ORDER, DESC, and LIMIT commands 
# to ensure that I am ordering the age groups by the number of people in those groups, then making sure the order is 
# descending in number of people, then only asking for the first observation. I have also changed the previous fetchall() 
# function to the fetchone() function, since I only need to fetch the one observation I asked for in my query. I have pulled
# out the age and number of people I needed to answer the question and have printed them just as before. 

def max_people_in_age():
    pet_database = sqlite3.connect('petsdb')
    pet_cursor = pet_database.cursor()
    pet_cursor.execute('SELECT count(*), age FROM persons GROUP BY age ORDER by count(*) DESC LIMIT 1')
    max_age_group = pet_cursor.fetchone()
    num_persons, age = max_age_group
    print(f'We have {num_persons} people aged {age}')
    pet_database.close()
    
max_people_in_age()

We have 5 people aged 73

In [5]:
# 3. How many people do not have a last name?

# To answer this question, I will create yet another function that riffs off the other two functions. The difference here is
# the query made to SQL as I am asking to count the number of rows that contain the null value for the last_name column.

def people_no_lastname():
    pet_database = sqlite3.connect('petsdb')
    pet_cursor = pet_database.cursor()
    pet_cursor.execute('SELECT count(*) FROM persons WHERE last_name IS null')
    num_people = pet_cursor.fetchall()
    for person in num_people:
        print(f'The number of people who do not have a last name is', person)
    pet_database.close()
    
people_no_lastname()

The number of people who do not have a last name is (60,)

In [6]:
# 4. How many people have more than one pet?

# The function I have made here to tackle this issue works the same as the others save for the change in query and change in
# output. The query has changed since I am now working with the pets table instead of the persons table, I am counting only 
# the owner_id column values and holding onto the observations that yield more than one pet. The HAVING command was needed 
# here as I am initiating a conditional statement using another command, whereas the WHERE command cannot work with another 
# command in its clause statement. The length of the observations is used to adjust the print statement accordingly.

def people_with_multiple_pets():
    pet_database = sqlite3.connect('petsdb')
    pet_cursor = pet_database.cursor()
    pet_cursor.execute('SELECT owner_id, COUNT(*) AS count_of_pets FROM pets GROUP BY owner_id HAVING COUNT(*) > 1')
    count_of_pets = pet_cursor.fetchall()
    print('The number of people who have more than one pet is', len(count_of_pets))
    pet_database.close()
    
people_with_multiple_pets()

The number of people who have more than one pet is 43

In [7]:
# 5. How many pets have received treatment?

# I have taken my code from the third function and altered the SQL query using the WHERE conditional command as the 
# treatment_done column specifies that the 1 value means that the pet has indeed been treated.

def pets_with_treatment():
    pet_database = sqlite3.connect('petsdb')
    pet_cursor = pet_database.cursor()
    pet_cursor.execute('SELECT count(*) FROM pets WHERE treatment_done = 1')
    num_pets = pet_cursor.fetchall()
    for pet in num_pets:
        print(f'The number of pets that have been treated is', pet)
    pet_database.close()
    
pets_with_treatment()

The number of pets that have been treated is (36,)

In [8]:
# 6. How many pets have received treatment, and the type of pet is known?

# This question takes the function from the previous question and adds another condition, involving the pet_type column, to 
# the SQL query. I simply added that condition to the end of the query to filter out those pets whose type is unknown.

def known_type_pets_with_treatment():
    pet_database = sqlite3.connect('petsdb')
    pet_cursor = pet_database.cursor()
    pet_cursor.execute('SELECT count(*) FROM pets WHERE treatment_done = 1 AND pet_type IS NOT null')
    num_pets_treated = pet_cursor.fetchall()
    for pet in num_pets_treated:
        print(f'The number of known type pets that have been treated is', pet)
    pet_database.close()
    
known_type_pets_with_treatment()

The number of known type pets that have been treated is (16,)

In [9]:
# 7. How many pets are from the city called east port?

# For this function, as the city column exist in the persons table yet I need the number of pets from the pets table, I need
# to change my SQL query to perform a join to have these two tables combine into one. I can make this join happen with the 
# JOIN command with the condition that the owner_id column in the pets column matches up with the id column in the persons 
# table. This condition is noted with the ON command. With the join complete, the last part of the query line uses the WHERE
# conditional command to target the rows where the city column from the persons table equals east port.

def east_port_pets():
    pet_database = sqlite3.connect('petsdb')
    pet_cursor = pet_database.cursor()
    pet_cursor.execute('SELECT count(*)' 
                       'FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city = "east port"')
    pets_from_the_east = pet_cursor.fetchall()
    for pet in pets_from_the_east:
        print(f'The number of pets from east port is', pet)
    pet_database.close()
    
east_port_pets()

The number of pets from east port is (49,)

In [10]:
# 8. How many pets are from the city called east port, and who received treatment?

# This function simply adds another condition to the last function, employing the AND command which asks to extract the pets
# east port that have been treated using the pets table's treatment_done column.

def east_port_treated_pets():
    pet_database = sqlite3.connect('petsdb')
    pet_cursor = pet_database.cursor()
    pet_cursor.execute('SELECT count(*)' 
                       'FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city = "east port"' 
                       'AND pets.treatment_done = 1')
    treated_pets_from_the_east = pet_cursor.fetchall()
    for pet in treated_pets_from_the_east:
        print(f'The number of treated pets from east port is', pet)
    pet_database.close()
    
east_port_treated_pets()

The number of treated pets from east port is (11,)